footer{
    background-color: rgb(1, 5, 86);
    color: rgb(255, 255, 255);
  }
  .aboutus_div_class{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .footer_headings_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: -15vh;
  }
  .aboutus_h1{
    margin-left: -30vw;
  }
  .aboutus_class_para{
    margin-top: 4vh;
   margin-left: -30vw;
  }
  .contactus_footer{
    margin-left: -30vw;
  }
  .phone_number{
    margin-left: -30vw;
  }

  @media screen and (max-width: 850px) {
    .footer_all_info{
      margin-left: 5vw;
    }
        .aboutus_div_class{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
        .footer_headings_div{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
        .aboutus_h1{
          margin-right: -6vw;
          font-size: 5vw;
        }
        .aboutus_class_para{
         margin-right: 5vw;
         margin-top: 10vh;
         margin-left: -15vw;
         font-size: 3vw;
        }
        .contactus_footer{
          font-size: 5vw;
          margin-left: -15vw;
        }
        .phone_number{
          margin-left: 5vw;
          margin-top: 7vh;
          font-size: 4vw;
          margin-left: -15vw;
        }

  }    