a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
  }
  body{
    text-align: center;
  }
  header{
    background-color:#183E47;
    height: 18vh;
    display: flex;
    align-items: center;
  }
  .header_logo_unity{
    margin-left: 1vw;
   width: 25vw;
   height: 18vh;
  }
  #unityuniformsheaderid{
    color: white;
    font-size: 2.5vw;
  }
  #buttonsheader{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    margin-left: 7vw;
    font-size: 2vw;
  }
  @media screen and (max-width: 850px) {
    .header_logo_unity{
      margin-left: 1vw;
      width: 36vw;
      height: 7vh;
     }
        #buttonsheader{
          margin-left: 3vw;
          font-size: 4vw;
          gap: 4vw;
        }
        #registerid{
          margin-right: 3vw;
        }}