/* header */
a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
  }
  body{
    text-align: center;
  }
  header{
    background-color: rgb(1, 5, 86);
    min-height: 6rem;
    max-height: 10rem;
    display: flex;
    align-items: center;
  }
  #unityuniformsheaderid{
    margin-left: 5vw; 
    color: white;
    font-size: 2.5vw;
  }
  #buttonsheader{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    margin-left: 11vw;
    font-size: 2vw;
  }
  
  /* body */
.schoolselect_home_div{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10vw;
  margin-top: 15vh;
}
.schoolselect_home{
 border: none;
 cursor: pointer;
 transition: 0.3s;
}
.schoolselect_home:hover{
  transform: scale(1.2);
  animation-direction: alternate;
}
footer{
  background-color: rgb(1, 5, 86);
  color: rgb(255, 255, 255);
}
.aboutus_div_class{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.footer_headings_div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: -15vh;
}
.aboutus_h1{
  margin-left: -30vw;
}
.aboutus_class_para{
  margin-top: 4vh;
 margin-left: -30vw;
}
.contactus_footer{
  margin-left: -30vw;
}
.phone_number{
  margin-left: -30vw;
}
  /* mobile */
  @media screen and (max-width: 850px) {
    /* header */
        #unityuniformsheaderid{
          margin-left: 0vw;
          font-size:6.5vw;
        }
        #buttonsheader{
          margin-left: 4vw;
          font-size: 5vw;
          gap: 4.3vw;
        }
        #registerid{
          margin-right: 3vw;
        }

        /* body */
        #school_heading_body{
         font-size: 9vw;
         margin-bottom: -9vh;
        }
        .schoolselect_home_div{
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 9vh;
        }
        .schoolselect_home{
         border: none;
         cursor: pointer;
         transition: 0.3s;
        }
        .schoolselect_home:hover{
          transform: scale(1.2);
          animation-direction: alternate;
        }
        .get_back_to_school_image{
          height: 25vh;
          width: 100%;
          margin-bottom: -3vh;
        }
        .aboutus_div_class{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
        .footer_headings_div{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          margin-bottom: -15vh;
        }
        .aboutus_h1{
          margin-left: -18svw;
          font-size: 5vw;
        }
        .aboutus_class_para{
         margin-top: 10vh;
         margin-left: -15vw;
         font-size: 3vw;
        }
        .contactus_footer{
          font-size: 5vw;
          margin-left: -15vw;
        }
        .phone_number{
          margin-top: 7vh;
          font-size: 4vw;
          margin-left: -15vw;
        }

  }    