/* header */
a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
  }
  body{
    text-align: center;
  }
  header{
    background-color: rgb(1, 5, 86);
    min-height: 6rem;
    max-height: 10rem;
    display: flex;
    align-items: center;
  }
  #unityuniformsheaderid{
    margin-left: 5vw; 
    color: white;
  }
  #buttonsheader{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    margin-left: 12.5vw;
    font-size: 2vw;
  }
  
  /* body */
  #school_heading_body{
    text-align: left;
    margin-left: 1vw;
  }

  @media screen and (max-width: 850px) {
    /* header */
        #unityuniformsheaderid{
          margin-left: 0vw;
          font-size:5.5vw;
        }
        #buttonsheader{
          margin-left: 4vw;
          font-size: 5vw;
          gap: 2vw;
        }
        #registerid{
          margin-right: 3vw;
        }
  }    