/*register and login page*/
.register_page{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    height: 100vh;
    }
    .loginorregisterh1{
      margin-top: 1.5vh;
      color: aliceblue;
      font-size: 5vw;
      margin-bottom: 5vh;
    }
    #username_box{
        width: 20vw;
        height: 3vw;
        margin-top: 2vh;
      }
      .email_box{
      width: 20vw;
      height: 3vw;
      margin-top: 4vh;
      }
      .password_box{
        width: 20vw;
        height: 3vw;
        margin-top: 4vh;
      }
      #login_button{
        background-color:  rgb(255, 255, 255);
        color:rgb(0, 0, 0); 
        height: 6vh;
        width: 15vw;
        margin-top: 5vh;
      }
        #register_button{
        background-color:  rgb(255, 255, 255);
        color:rgb(0, 0, 0); 
        height: 6vh;
        width: 15vw;
        margin-top: 4vh;
      }
      .noacc_registerpg{
        color: white;
      }
    @media screen and (max-width: 850px) {
            #registerh1id{
              margin-bottom: 4vh;
              font-size: 20vw;
            }
            #loginh1id{
              margin-bottom: 3vh;
              font-size: 20vw;
            }
            #username_box{
                width: 60vw;
                height: 8vw;
            }
            .email_box{
              width: 60vw;
              height: 8vw;
              margin-top: 3vh;
            }
            .password_box{
              width: 60vw;
              height: 8vw;
                margin-top: 3vh;
            }
            #login_button{
              color: rgb(41, 41, 41);
              background-color: rgb(255, 255, 255);
              height: 9vw;  
              width: 45vw;
              margin-top: 4.5vh;
              }
              #register_button{
              color: rgb(41, 41, 41);
              background-color: rgb(255, 255, 255);
              height: 9vw;  
              width: 45vw;
              margin-top: 4vh;
            }
}    