/*register and login page*/
.register_page{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    height: 100vh;
    }
    .register_card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color:#183E47;
      width: 35vw;
      height: 90vh;
     }
    .loginorregisterh1{
      margin-top: 1.5vh;
      color: aliceblue;
      font-size: 5vw;
      margin-bottom: 5vh;
    }
    #username_box{
        width: 20vw;
        height: 3vw;
        margin-top: 2vh;
      }
      .email_box{
      width: 20vw;
      height: 3vw;
      margin-top: 4vh;
      }
      .password_box{
        width: 20vw;
        height: 3vw;
        margin-top: 4vh;
      }
      #login_button{
        color:rgb(255, 255, 255); 
        height: 6vh;
        width: 15vw;
        margin-top: 5vh;
        --c:  #ffffff; /* the button bg color*/
        box-shadow: 0 0 0 .1em inset var(--c); 
         --_g: linear-gradient(var(--c) 0 0) no-repeat;
         background: 
         var(--_g) calc(var(--_p,0%) - 100%) 0%,
         var(--_g) calc(200% - var(--_p,0%)) 0%,
         var(--_g) calc(var(--_p,0%) - 100%) 100%,
         var(--_g) calc(200% - var(--_p,0%)) 100%;
         background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
      } 
        #register_button{
        background-color:  rgb(255, 255, 255);
        color:rgb(255, 255, 255); 
        height: 6vh;
        width: 15vw;
        margin-top: 4vh;
        --c:  #ffffff; /* the button bg color*/
        box-shadow: 0 0 0 .1em inset var(--c); 
         --_g: linear-gradient(var(--c) 0 0) no-repeat;
         background: 
         var(--_g) calc(var(--_p,0%) - 100%) 0%,
         var(--_g) calc(200% - var(--_p,0%)) 0%,
         var(--_g) calc(var(--_p,0%) - 100%) 100%,
         var(--_g) calc(200% - var(--_p,0%)) 100%;
         background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
      }
      .noacc_registerpg{
        color: white;
      }

    @media screen and (max-width: 850px) {
      .register_card{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        justify-content: center;
        background-color:#183E47;
        width: 95vw;
        height: 90vh;
       }
            #registerh1id{
              margin-bottom: 4vh;
              font-size: 20vw;
            }
            #loginh1id{
              margin-bottom: 3vh;
              font-size: 20vw;
            }
            #username_box{
              width: 80vw;
              height: 8vw;
            }
            .email_box{
              width: 80vw;
              height: 8vw;
              margin-top: 3vh;
            }
            .password_box{
              width: 80vw;
              height: 8vw;
              margin-top: 3vh;
            }
            #login_button{
              color: rgb(255, 255, 255);
              background-color: rgb(255, 255, 255);
              height: 13vw;  
              width: 60vw;
              margin-top: 4.5vh;
              margin-bottom: 1vh;
              --c:  #ffffff; /* the button bg color*/
              box-shadow: 0 0 0 .1em inset var(--c); 
               --_g: linear-gradient(var(--c) 0 0) no-repeat;
               background: 
               var(--_g) calc(var(--_p,0%) - 100%) 0%,
               var(--_g) calc(200% - var(--_p,0%)) 0%,
               var(--_g) calc(var(--_p,0%) - 100%) 100%,
               var(--_g) calc(200% - var(--_p,0%)) 100%;
               background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
              }
              #register_button{
                color: rgb(255, 255, 255);
                background-color: rgb(255, 255, 255);
                height: 13vw;  
                width: 60vw;
                margin-top: 4.5vh;
                margin-bottom: 1vh;
                --c:  #ffffff; /* the button bg color*/
                box-shadow: 0 0 0 .1em inset var(--c); 
                 --_g: linear-gradient(var(--c) 0 0) no-repeat;
                 background: 
                 var(--_g) calc(var(--_p,0%) - 100%) 0%,
                 var(--_g) calc(200% - var(--_p,0%)) 0%,
                 var(--_g) calc(var(--_p,0%) - 100%) 100%,
                 var(--_g) calc(200% - var(--_p,0%)) 100%;
                 background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
            }
}    