.logo_second_page{
    margin-top: -10vh;
    margin-bottom: 5vh;
}
.all_elements_products_show_page{
    margin-top: 15vh;
}
.image_product_secondpage{
    height: 90vh;
    width: 40vw;
}
.price_product_second_page{
    color: rgb(205, 0, 0);
}
#size_selection{
    height: 5vh;
    width: 30vw;
}
.sports_shirt_selector{
    height: 5vh;
    width: 30vw;
}
.shirts_amount{
  width: 29.5vw;
  height: 4vh;
}
.sports_shirts_name_buyer{
    width: 29.5vw;
  height: 4vh;
 }
 .sports_shirts_address_buyer{
    width: 29.5vw;
    height: 4vh;
 }
.label_for_itemquantity{
    color: red;
}
.addtocartbutton{
    height: 6vh;
    width: 20vw;
    background-color: brown;
    color: rgb(255, 255, 255);
}
.custom-shape-divider-bottom-1705253153 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1705253153 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }
  
  .custom-shape-divider-bottom-1705253153 .shape-fill {
    fill: #183E47;
  }
 /* mobile */
 @media screen and (max-width: 850px) {
     
    .all_elements_products_show_page{
        margin-top: 10vh;
    }
    .image_product_secondpage{
        height: 50vh;
        width: 90vw;
    }
    .price_product_second_page{
        color: rgb(189, 0, 0);
    }
    #size_selection{
        margin-top: 3vh;
        height: 5vh;
        width: 80vw;
    }
    .sports_shirt_selector{
        height: 5vh;
        width: 80vw;
    }
    .shirts_amount{
        height: 4.5vh;
        width: 77vw;
      }
     .sports_shirts_name_buyer{
        height: 4.5vh;
        width: 77vw;
     }
     .sports_shirts_address_buyer{
        height: 4.5vh;
        width: 77vw;
     }
    .addtocartbutton{
        height: 8vh;
        width: 70vw;
        background-color: brown;
        color: rgb(255, 255, 255);
    }
    .custom-shape-divider-bottom-1705253153 {
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1705253153 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 25px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom-1705253153 .shape-fill {
        fill:   #183E47;
    }
  }    