.logo_mainpages{
    margin-top: 5vh;
    margin-bottom: 10vh;
 }
 .schools_div_mainpage{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 4vw;
   margin-left: 5vw;
   margin-right: 5vw;
   margin-bottom: 15vh;
   margin-top: 5vh;
}
 .products_box_mainpage{
   background-color: rgb(197, 227, 234);
   color: black;
   cursor: pointer;
   transition: 0.3s;
 }
 .products_box_mainpage:hover{
   transform: scale(1.2);
   animation-direction: alternate;
 }
 .products_pic_mainpages{
   height: 30vh;
   width: 15vw;
 }
 .unavailable{
  color: rgb(179, 0, 0);
 }
 .custom-shape-divider-bottom-1705253153 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705253153 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1705253153 .shape-fill {
  fill: #183E47;
}
   /* mobile */
   @media screen and (max-width: 850px) {
     .schools_div_mainpage{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       gap: 10vw;
       margin-left: 5vw;
     }
     .products_pic_mainpages{
       height: 20vh;
       width: 40vw;
     }
     .unavailable{
      color: rgb(181, 0, 0);
      font-size: 5vw;
     }
     .custom-shape-divider-bottom-1705253153 {
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .custom-shape-divider-bottom-1705253153 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 25px;
      transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1705253153 .shape-fill {
      fill:   #183E47;
      ;
  }}